---
const github_url = "https://github.com/rikDei?tab=repositories"
const linkedin_url = "https://www.linkedin.com/in/riccardo-deidda-784080240/"
---

<footer class="bg-linear-90 from-zinc-900 from-5% to-black text-white h-30 flex place-content-center-safe">
    <div class="my-auto flex place-content-around gap-20 mx-10">
        <p>© {new Date().getFullYear()} Portfolio. All rights reserved.</p>
        <ul class="">
            <li><a href={linkedin_url}>LinkedIn</a></li>
            <li><a href={github_url}>Github</a></li>
        </ul>
    </div>
</footer>