---
const projects_url = "https://github.com/rikDei?tab=repositories"
---

<nav class="bg-linear-90 from-zinc-900 from-5% to-black text-white flex flex-row place-content-around pt-4 pb-4 text-bold font-bold tracking-wide fixed top-0 w-lvw z-10">
    <div class="">
        <a href="/index"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-10"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                ></path>
                <title>Home button</title>
            </svg>
        </a>
    </div>
    <div class="flex flex-col place-content-center">
        <ul class="flex flex-row gap-5">
            <li><a href="#about">About</a></li>
            <li><a href="#technologies">Tecnologies</a></li>
            <li><a href={projects_url}>Projects</a></li>
        </ul>
    </div>
</nav>
