---

---

<div id="about" class="bg-gray-300 h-140 flex flex-col place-content-center w-full">
    <div class="mx-auto max-w-200">
        <p class="font-code text-lg">Hello everyone</p>
        <h2 class="text-4xl font-code">
            I'm a Software Engineer with a focus on AI and Web Development. I design and craft cutting-edge AI
            solutions, from state of the art large language models to captivating computer vision applications, deliver stunning websites.
        </h2>
    </div>
    <div class="bg-linear-90 from-zinc-900 from-5% to-black h-10 mt-15"></div>
</div>
