---

---

<div id="about" class="bg-gray-300 max-h-180 sm:max-h-160 flex flex-col place-content-center w-full">
    <div class="mx-auto mt-10 px-10 sm:w-150 md:w-180 lg:w-240">
        <p class="font-code text-base sm:text-xl md:text-2xl w-full">Hello everyone</p>
        <h2 class="font-code text-2xl sm:text-3xl md:text-4xl w-full">
            I'm a Software Engineer with a focus on AI and Web Development. I design and craft cutting-edge AI
            solutions, from state of the art large language models to captivating computer vision applications, deliver stunning websites.
        </h2>
    </div>
    <div class="bg-linear-90 from-zinc-900 from-5% to-black h-10 my-15"></div>
</div>
