---
import { Image } from "astro:assets";
import astroImg from "./../assets/astro.svg";
import reactImg from "./../assets/React.svg";
import pythonImg from "./../assets/Python.svg";

const cards = [
    {
        name: "Astro",
        icon: astroImg,
        description: "Build fast, content-focused websites.",
    },
    {
        name: "React",
        icon: reactImg,
        description: "Craft dynamic UIs and web magic with React's component-based sorcery.",
    },
    {
        name: "Python",
        icon: pythonImg,
        description: "From dynamic UIs to AI-powered web magic, I craft flexible solutions.",
    },
];
---

<div
    id="technologies"
    class="bg-linear-45 from-gray-900 to-zinc-950 w-full h-300 md:h-160 flex flex-col gap-y-16 place-content-center-safe"
>
    <div class="mx-auto">
        <h2 class="text-white font-code">Technologies I use</h2>
    </div>
    <div class="flex flex-col md:flex-row gap-20 place-content-center-safe mx-auto">
        {
            cards.map((card) => (
                <div class="bg-zinc-100 h-70 w-45 rounded-xl grid grid-rows-2 place-items-center shadow-xl/40 shadow-zinc-300">
                    <Image
                        class="mx-auto p-4 object-contain h-full w-full"
                        src={card.icon}
                        alt={`${card.name}-logo`}
                        loading="lazy"
                    />
                    <p class="text-zinc-600 mx-auto px-2 text-center font-code tracking-tight">{card.description}</p>
                </div>
            ))
        }
    </div>
</div>
